
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Listado Contactos </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Contactos</a>
                

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/nueva"> Nuevo contacto <span class="sr-only">(current)</span></a>
                        </li>
                        
                    </ul>
                  
                </div>
            </nav>
          
        <br>

        <div class="container text-center">
            
            <form class="form-inline" th:action="@{/}">
                    <div class="form-group mb-2">
                    <label> Filtar </label>
                    </div> 
                    <div class="form-group mx-ms-3 mb-2">
                        <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Valor a buscar" requeired >
                    </div>
                        <input type="submit" class="btn btn-info mb2" value="Buscar"> 
                    &nbsp;&nbsp;
                        <input type="button" class="btn btn-secundary mb2" value="limpiar" onclick="limpiarCampos()">
               
            </form>
            <br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    <tr th:each="todosContactos : ${listacontactos}">
                        <th scope="row" th:text="${todosContactos.id_agenda}"></th>
                        <td th:text="${todosContactos.nombre}"></td>
                        <td th:text="${todosContactos.apellido}"></td>
                        <td th:text="${todosContactos.email}"></td>
                        <td th:text="${todosContactos.fechaNacimiento}"></td>
                        <td th:text="${todosContactos.fechaRegistro}"></td>
                        <td>
                            <a th:href="@{/editar/{id}(id=${todosContactos.id_agenda})}" class="btn btn-info"> Editar  </a>
                            <a th:href="@{/eliminar/{id}(id=${todosContactos.id_agenda})}" class="btn btn-danger"> Eliminar </a>
                        </td>
                    </tr>

                </tbody>


            </table>

            
        </div>

        <script type="text/javascript">
            function limpiarCampos(){
                window.location='/';
            }
            
        </script>    
            
    </body>
</html>
